---

---

<footer class="bg-gray-900 text-gray-400">
  <div class="mx-auto px-8 py-9">
    {/* Copyright */}
    <div class="text-center text-sm">
      <p>&copy; 2026 重庆大学 Waymaker 智能基座社团</p>
    </div>
  </div>
</footer>
